body, html {
    margin: 0 0 10px;
    padding: 0;
}

#tabla td,#tabla th {
	border:0px;
}
	
#body_bg {
background-color: rgb(217, 218, 253);
    wbackground: url("../images/bg_top.gif") repeat-x scroll left top #FFFFFF;
    text-align: center;
}

#header {
background-color: rgb(13, 3, 133);
width: 100%;
height:40px;
position: fixed; 
top: 0px; 
z-index: 100000;
} 

#body {
background-color: #ffffff;
_max-width:960px;
height:100%;
padding:30px;
}

#body1 {
position: absolute;
top: 175px;
left: 0px;
}

.logo {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FFFFFF;
    background-image: url("../images/header.jpg");
    background-origin: padding-box;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 180px;
    margin: 0;
    padding: 0;
    width: 100%;
	left: 0px;
	position: relative; 
	top: 0px; 
	z-index: 1800;
	_cursor:s-resize;
	text-align: center;
}

.gallery {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.gallery:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.gallery li {
	float: left;
}

@media (max-width:500px)
{
	.gallery li {
	width: 50%;
	}
}


@media (max-width:700px) and (min-width:500px)
{
	.gallery li {
		width: 33.333%;
	}
}

@media (max-width:900px) and (min-width:700px)
{
	.gallery li {
		width: 25%;
	}
}

@media (min-width:900px)
{
	.gallery li {
		width: 20%;
	}
}


.gallery li a {
	border: 1px solid #3C3C3C;
	display: block;
	margin: 5px;
}
.gallery li img {
	display: block;
	height: auto;
	width: 100%;
}
#Gallery1 .ui-content, #Gallery2 .ui-content {
	overflow: hidden;
}

.jiden {
	position:absolute !important;
	display:none !important;
}

.innertube {
	margin-right:10px;
}
.ui-icon-menu {
	background-image: url("../images/menu.png") !important;
}
.ui-icon-sol {
	background-image: url("../images/blog.png") !important;
}
.ui-icon-libro {
	background-image: url("../images/porquerielabrisa.png") !important;
}
.ui-icon-galeria {
	background-image: url("../images/gallery.png") !important;
}
.innertube .ui-btn-inner {
	white-space: normal !important;
	font-size: 14px !important;
}
.innertube .ui-li .ui-btn-text a.ui-link-inherit {
	white-space: normal !important;
	font-size: 11px !important;
}

p.ui-li-desc{
	white-space: pre-line !important;

}
.imgthb
{
	float:left;
	border: solid 1px #ffffff;
	margin: 1%;
	width:40%;
	height:auto;
	padding:1%;
	border-width: 1px!important;
}

.imgthb:hover
{
	cursor:pointer;
	border: solid 1px #0000d6;
}

@media (max-width:500px) {
#lib_ebrisa .ui-li-has-count .ui-li-count
{
	top:90% !important;
}
}