{% set foo = {'f':'Estudiantes del Instante', 'a':'Actividades', 'p':'Proyectos'}   %}

{% for ftype, ftitle in foo %}

{% if ftype in ei.types %}

<h3>{{ ftitle }}</h3>

<div data-role="collapsible-set" data-theme="c" data-content-theme="d" data-inset="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
    {% for ee in ei.files  %}
    {% if ee.type == ftype %}
    <div data-role="collapsible" {% if ee.open %} data-collapsed="false" {% endif %}>
        {% include [ee.html, '404.html'] %}
    </div>
    {% endif %}
    {% endfor %}
</div>

<div style="width:100%;height:5px;">
</div>

{% endif %}

{% endfor %}

<div style="padding:20px;text-align:left;_float:left;">



</div>

