<script type="text/javascript">

</script>
<script type='text/javascript' src='js/jqm.infinitescroll.js'></script>

{% include ('do/xblog.html') %}
{% if blog|length > 1 %}

   <a id="nextPage" href="xblog">Next Page</a>


<script type="text/javascript">
function infi() {
	$('#list').infinitescroll({
		// required options
        windowLocationTrigger: 0.95,
		navElement: '#nextPage',
		itemsToLoad: 'div.lista'
	}, function(t){
		//alert(t);
		$("#nextPage").before(t);
		$(".lista").collapsible();
		$(".lista ul").listview();
		// optional callback function
		//$('#list').listview('refresh');
		infi();
	});
}
$(document).ready(function() {
	infi();
	});
{% endif %}

</script>
