{% if mobile==mobile %}
<style >
    .ui-icon-custom {
        background-image: url("images/calendar.png");
        _background-position: 3px 3px;
        background-size: 100%;
    }
</style>


{% if events.mio|length>0 %}
<ul data-role="listview" data-inset="true">
	{% for e in events.mio %}
	<li  data-icon="custom"><a href="{{e.url}}">
			<img src="{{e.imagen}}">
			<h2>{{e.nombre}}</h2>
			<p>{{e.lugar}}</p>
			<p>{{e.fechai}}</p>
			<p>{{e.fechaf}}</p></a>
	</li>
	{% endfor %}
</ul>
{% endif %}


{% if events.mes|length >0 %}
<div data-role="collapsible-set" data-theme="c" data-content-theme="d" data-inset="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
{% for ee in events.mes %}
	    <div data-role="collapsible" >
	        <h2>{{ee.nombre}}</h2>
	        <ul data-role="listview" data-inset="true">
				{% for e in ee.events %}
	            <li  data-icon="custom"><a href="{{e.url}}">
	                <img src="{{e.imagen}}">
	                <h2>{{e.nombre}}</h2>
	                <p>{{e.lugar}}</p>
	               <p>{{e.fechai}}</p>
	                <p>{{e.fechaf}}</p></a>
	            </li>
				{% endfor %}
	        </ul>
	    </div>
{% endfor %}
</div>
{% endif %}

{% if (events.mes|length == 0) and (events.mio|length == 0) %}
<a data-role="button" href="events">No hay eventos pautados.</a>
{% endif %}

{%else%}
<div>
    <table class="tablesorter">
        <thead>
        <tr>
            <th>Evento</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Nombre</th>
            <th>Lugar</th>
        </tr>
        </thead>
        <tbody>
        {% for e in events %}
        <tr>
            <td><a href='{{e.url}}'><img src='{{e.imagen}}'/></a></td>
            <td>{{e.fechai}}</td>
            <td>{{e.fechaf}}</td>
            <td>{{e.nombre}}</td>
            <td>{{e.lugar}}</td>
        </tr>
       {% endfor %}
        </tbody>

    </table>
</div>
{%endif%}