<style>
	.no-ui-grid-a {
		height:100%;
		width:100%;
	}
	.no-ui-block-a {
		height:100%;
		_padding-top:5%;
		float:left;
		width:40%;
	}
	.no-ui-block-b{
		height:100%;
		padding-left:5%;
		padding-right:5%;
		width:50%;
		float:left;
	}

@media screen and (max-width: 600px){
	.no-ui-block-a {
		width:100%;
	}
	.no-ui-block-b{
		width:100%;
		padding-left:0;
		padding-right:0;
	}
}

</style>
<div id="lib_ebrisa">


	<div class="no-ui-grid-a">
		<div class="no-ui-block-a" style="">
			<img src="./images/portada03.jpg" style="width:100%;height:auto;">
		</div>
		<div class="no-ui-block-b" style="">

			<h1>Por qu&eacute; r&iacute;e la brisa</h1>
			<h4>Autor: Sergio Vel&aacute;squez Zeballos</h4>
			<hr style="width:100%"/>
			<p>Junto a la brisa que yo mismo hac&iacute;a, aprend&iacute;a que yo mismo creaba la risa de la  brisa.
				Aprend&iacute;a el porqu&eacute; de ella.	</p>
			<p>En este libro intento comunicar la tonada que me inspira.
				En estas l&iacute;neas intento transcribir los colores que olfateo cuando cierro los ojos y escucho. </p>
{#
			<div class="ui-grid-a" style="font-size:15%;margin-left:20%;">
				<div class="ui-block-a" style="font-weight:bold;width:30%;">
					<div class="ui-bar ui-bar-b" style="font-size:12px;">
						<p>N. p&aacute;ginas:</p>
						<p>Fecha publicaci&oacute;n:</p>
						<p>Idioma:</p>
						<p>ISBN-13:</p>
						<p>Dimensiones:</p>
						<p>Impresi&oacute;n:</p>
					</div>
				</div>
				<div class="ui-block-b" style=";width:30%;font-weight:normal;;">
					<div class="ui-bar ui-bar-b"  style="font-size:12px;">
						<p>200</p>
						<p>Agosto, 2010</p>
						<p>Espa&ntilde;ol</p>
						<p>978-980-12-5836-0</p>
						<p>11 x 17,8 x 1,2 cm</p>
						<p>Editorial Torino</p>
					</div>
				</div>
			</div>
#}
		</div>
	</div>




    <div data-role="content" style="margin-top:15px;clear:both;">
    <div class="content-primary">
	    <ul data-role="listview">

		    {% for country, ps in porquerielabrisa %}

		    <li data-role="list-divider">Ventas del libro en {{ country }}</li>


		    {% for p in ps %}
			    <li data-icon="false"   >
				    <a href="{{ p.url }}">
					    <img src="{{ p.image }}" />
						<h3>{{ p.name }}</h3>
					    <p>{{ p.place }}</p>
					    <span class="ui-li-count">{{ p.phone }}</span>
					    </a></li>
{#
			    <tr>
				    <td style="font-weight:bold">
					    {{ p.place }}</td><td>
					    <a href="{{ p.url }}">
						    {{ p.name }}</a></td>
				    <td >{{ p.phone }}</td>
			    </tr>#}
		    {% endfor %}

		    {% endfor %}

	    </ul>
    </div><!--/content-primary -->
	</div>

{#
    {% for country, ps in porquerielabrisa %}


	    <div >
		    <h3 >
			    <div style="text-decoration:none !important;color:black;" >Ventas del libro en {{ country }}</a>
		    </h3>
	    </div>
    <table border='0' id="tpresentacion" class="tablesorter">
        <thead>
        <tr>
            <th>Ciudad</th>
            <th>Contacto</th>
            <th>Tel&eacute;fono</th>
        </tr>
        </thead>
        <tbody>

		{% for p in ps %}

        <tr>
            <td style="font-weight:bold">
                {{ p.place }}</td><td>
            <a href="{{ p.url }}">
                {{ p.name }}</a></td>
            <td >{{ p.phone }}</td>
        </tr>
		{% endfor %}

        </tbody>
    </table>


    <br/>
    <br/>
	{% endfor %}

#}

</div>