<style>
	.no-ui-grid-a {
		height:100%;
		width:100%;
	}
	.no-ui-block-a {
		height:100%;
		_padding-top:5%;
		float:left;
		width:40%;
	}
	.no-ui-block-b{
		height:100%;
		padding-left:5%;
		padding-right:5%;
		width:50%;
		float:left;
	}

@media screen and (max-width: 600px){
	.no-ui-block-a {
		width:100%;
	}
	.no-ui-block-b{
		width:100%;
		padding-left:0;
		padding-right:0;
	}
}

</style>
<div id="lib_ebrisa">


	<div class="no-ui-grid-a">
		<div class="no-ui-block-a" style="">
			<img src="./images/portada03.jpg" style="width:100%;height:auto;">
	
<i>
<p>
&iexcl;Hola, caminante! Soy un peque&ntilde;o libro nacido para honrarte.</p>
<p>
Bienvenido a mi humilde existencia. Te invito a que entres y te conozcas.
</p>
<p>
Ven, juntos compartiremos vivencias, exploraremos misterios, recitaremos eternidades, estudiaremos silencios.
</p>
<p>
Abre mis p&aacute;ginas. Abre tu coraz&oacute;n. Abre tu caja de acuarelas para pintar mil colores en el lienzo de la vida.
</p>
<p>
Ven y juguemos a hacer magia, a irradiar luz, a sonre&iacute;r conscientes en esta realidad tan hermosa en la que respiramos, en la que r&iacute;e la brisa.
</p>

</i>
		</div>
		<div class="no-ui-block-b" style="">

			<h1>Por qu&eacute; r&iacute;e la brisa</h1>
			<h4>Autor: Sergio Vel&aacute;squez Zeballos</h4>
			<hr style="width:100%"/>
			<p>&quot;Junto a la brisa que yo mismo hac&iacute;a, aprend&iacute;a que yo mismo creaba la risa de la  brisa.
				Aprend&iacute;a el porqu&eacute; de ella.	&quot;</p>
			<p>&quotEn este libro intento comunicar la tonada que me inspira.
				 En estas l&iacute;neas intento transcribir los colores que olfateo cuando cierro los ojos y escucho. &quot</p>
			<p>
			Las palabras ser&aacute;n un puente que cruzaremos para volar juntos hacia la magia de estar conscientes de la vida.</p>
<p>
			Te contar&eacute; historias, te leer&eacute; frases, te recitar&eacute; poemas. Nos olvidaremos de las formalidades para dar paso a la franqueza. Recordaremos que cada palabra que sale de nuestra boca o que escribe nuestro l&aacute;piz transmite el saber de nuestra esencia y les daremos toda nuestra atenci&oacute;n para descubrirle y descubrirnos.
</p>
<p>
Mira, el mundo es hermoso.  &#191;Qu&eacute; hay en &eacute;l que no lo sea? Entonces,  &#191;qu&eacute; hay en nosotros que no nos permite verlo? Estudi&eacute;monos. Perfeccion&eacute;monos. El mundo est&aacute; dentro de nosotros. No hay nada que hacer afuera sino trasmitir lo que ya somos y disfrutar lo que ya es.
</p>
<p>Vivamos, respiremos, cantemos. &Eacute;sta es la propuesta de un sencillo libro que le canta al amor que nos hace uno.</p>
{#
			<div class="ui-grid-a" style="font-size:15%;margin-left:20%;">
				<div class="ui-block-a" style="font-weight:bold;width:30%;">
					<div class="ui-bar ui-bar-b" style="font-size:12px;">
						<p>N. p&aacute;ginas:</p>
						<p>Fecha publicaci&oacute;n:</p>
						<p>Idioma:</p>
						<p>ISBN-13:</p>
						<p>Dimensiones:</p>
						<p>Impresi&oacute;n:</p>
					</div>
				</div>
				<div class="ui-block-b" style=";width:30%;font-weight:normal;;">
					<div class="ui-bar ui-bar-b"  style="font-size:12px;">
						<p>200</p>
						<p>Agosto, 2010</p>
						<p>Espa&ntilde;ol</p>
						<p>978-980-12-5836-0</p>
						<p>11 x 17,8 x 1,2 cm</p>
						<p>Editorial Torino</p>
					</div>
				</div>
			</div>
#}
		</div>
	</div>



<!--
    <div data-role="content" style="margin-top:15px;clear:both;">
    <div class="content-primary">
	    <ul data-role="listview">

		    {% for country, ps in porquerielabrisa %}

		    <li data-role="list-divider">Ventas del libro en {{ country }}</li>


		    {% for p in ps %}
			    <li data-icon="false"   >
				    <a href="{{ p.url }}">
					    <img src="{{ p.image }}" />
						<h3>{{ p.name }}</h3>
					    <p>{{ p.place }}</p>
					    <span class="ui-li-count">{{ p.phone }}</span>
					    </a></li>
{#
			    <tr>
				    <td style="font-weight:bold">
					    {{ p.place }}</td><td>
					    <a href="{{ p.url }}">
						    {{ p.name }}</a></td>
				    <td >{{ p.phone }}</td>
			    </tr>#}
		    {% endfor %}

		    {% endfor %}

	    </ul>
	</div>
	</div>
-->
{#
    {% for country, ps in porquerielabrisa %}


	    <div >
		    <h3 >
			    <div style="text-decoration:none !important;color:black;" >Ventas del libro en {{ country }}</div>
		    </h3>
	    </div>
    <table border='0' id="tpresentacion" class="tablesorter">
        <thead>
        <tr>
            <th>Ciudad</th>
            <th>Contacto</th>
            <th>Tel&eacute;fono</th>
        </tr>
        </thead>
        <tbody>

		{% for p in ps %}

        <tr>
            <td style="font-weight:bold">
                {{ p.place }}</td><td>
            <a href="{{ p.url }}">
                {{ p.name }}</a></td>
            <td >{{ p.phone }}</td>
        </tr>
		{% endfor %}

        </tbody>
    </table>


    <br/>
    <br/>
	{% endfor %}

#}

</div>

<div style="width:100%;height:14px;float:left;"></div>

{% include 'social.html' with {'url': 'porquerielabrisa_libro', 'medidor':'lib_ebrisa'} %}