
<div class="innertube">
	<div data-role="collapsible" data-theme="b" data-content-theme="d" data-collapsed="false" data-expanded-icon="menu">

		<h3>Menú</h3>
		<ul data-role="listview">
			{% for p in paginas %}
			<li><a href="{{ p.name }}">{{ p.title2 }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div data-role="collapsible" data-theme="b" data-content-theme="d" data-collapsed="false" data-expanded-icon="sol">

		<h3>Pensamientos</h3>
		<ul data-role="listview" style="font-size:10px;">
			{% for p in miniblog %}
				<li><a href="blog_{{ p.id }}">{{ p.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>



