<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb='http://www.facebook.com/2008/fbml' xmlns:og='http://opengraphprotocol.org/schema/'>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# blog: http://ogp.me/ns/blog#">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="shortcut icon" href="./images/ei16.png" />
<link rel="apple-touch-icon" href="./images/ei256.png"/>
<link rel="alternate" type="application/rss+xml" href="{{rss}}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charsetUTF-8" erer="ISO-8859-1">

{% if og %}
<!-- BEGIN TUMBLR FACEBOOK OPENGRAPH TAGS -->
<!-- If you'd like to specify your own Open Graph tags, define the og:url and og:title tags in your theme's HTML. -->
<!-- Read more: http://ogp.me/ -->
<meta name="description" content="{{og.description}}" />
<meta property="fb:app_id" content="421720104513992" />
<meta property="og:title" content="{{og.title}}" />
<meta property="og:url" content="{{og.url}}" />
<meta property="og:description" content="{{og.description}}"/>
<meta property="og:type" content="webpage" />
<meta property="og:image" content="{{og.image}}" />

<!-- END TUMBLR FACEBOOK OPENGRAPH TAGS -->


<!-- TWITTER TAGS -->
<meta charset="utf-8">
<meta name="twitter:card" content="webpage" />
<meta name="twitter:image" content="{{og.image}}"/>
<meta name="twitter:url" content="{{og.url}}" />
<meta name="twitter:creator" content="{{og.title}}" />
{% endif %}


    <link rel="stylesheet" href="./css/style.css" />
 <link rel="stylesheet" href="./js/jm140/jquery.mobile-1.4.0.min.css" />
{#    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0-beta.1/jquery.mobile-1.4.0-beta.1.min.css" /> #}


<script src="./js/jquery-2.0.3.min.js"></script>
{#    <script src="http://code.jquery.com/mobile/1.4.0-beta.1/jquery.mobile-1.4.0-beta.1.min.js"></script> #}
 <script src="./js/jm140/jquery.mobile-1.4.0.min.js"></script>

    <link rel="stylesheet" type="text/css" href="./js/ts/themes/blue/style.css" />

<link rel="stylesheet" href="./js/ps305/photoswipe.css" />
<script src="./js/ps305/lib/klass.min.js"></script>
<script src="./js/ps305/code.photoswipe.jquery-3.0.5.min.js"></script>

{%if not mobile %}
<script type="text/javascript" src="./js/ts/jquery.tablesorter.min.js"></script>
{% endif %}
{% if mobile==0 %}
{% set panels=1 %}
{% endif %}
<script type="text/javascript">

$(document).ready(function(){
    $.mobile.ajaxEnabled=true;
    $.mobile.loader.prototype.options.text = "loading";
    $.mobile.loader.prototype.options.textVisible = false;
    $.mobile.loader.prototype.options.theme = "a";
    $.mobile.loader.prototype.options.html = "";
    $.mobile.pageLoadErrorMessage = 'Esta pagina no existe';
    //$.mobile.fixedToolbars.show(true);
    $.mobile.defaultDialogTransition='slideup';
    $.mobile.defaultPageTransition='flip';

    {% if not mobile %}
    $(".tablesorter").tablesorter();
    {% endif %}


});


	
</script>
<style>
	{% if panels %}
	@media screen and (max-width: 800px){
		.jleft {
			position:absolute !important;
			display:none !important;
			width:0 !important;
		}
		.jright {
			position:absolute !important;
			display:none !important;
			width:0 !important;
		}
	    .jcenter {
		    width:100% !important;
	    }

	}

	@media screen and (max-width: 1000px) and (min-width: 800px){
		.jleft {
			width:15% !important;
		}
		.jright {
			position:absolute !important;
			display:none !important;
			width:0 !important;
		}
		.jcenter {
			width:85% !important;
		}

	}

	@media screen and (min-width: 1000px){
		.jleft {
			width:15% !important;
		}
		.jright {
			width:15% !important;anel
		}
		.jcenter {
			width:70% !important;
		}

	}
	{% endif %}

	.ui-controlgroup-horizontal { text-align: center !important; float: none; }

</style>


<title>{{title}}</title>

</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=421720104513992";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div data-role="page" id="{{ do }}">
<script>
	$(document).on('pageinit',function(){
		{% if mobile %}
		$( document ).on( "swipeleft swiperight", "#{{ do }}", function( e ) {

			//alert(e.type);
			if ( e.type === "swipeleft"  ) {
				$( "#{{ do }} #pright" ).panel( "open" , {swipeClose:false});
			} else if ( e.type === "swiperight" ) {
				$( "#{{ do }} #pleft" ).panel( "open"  , {swipeClose:false});
			}

		});
		{% endif %}
	});
</script>
	{% if mobile %}
	<div data-role="panel" id="pleft"  data-position="left" data-display="push" data-theme="b">
		{% include ('panel.html') %}
	</div>
	<div data-role="panel" id="pright"  data-position="right" data-display="push" data-theme="b">
		{% include ('panel.html') %}
	</div>
	{% else %}

	<div data-role="header"  data-position="fixed" class="ui-bar ui-bar-b" style="z-index: 8000;height:30px;">
		<div data-role="controlgroup" data-type="horizontal">
			{% for p in paginas %}
			<a href="{{ p.name }}" data-role="button" data-mini="true"><img src="images/{{ p.name }}.png" height="18" width="18" >{{ p.title }}</a>
			{% endfor %}
		</div>
	</div>
	{% endif %}
<div data-role="header">
{% include 'head.html' %}
</div>
<div data-role="content">
{% if panels %}
	<div class="ui-grid-b">
		<div class="ui-block-a jleft">
			{% include(lefthtml) %}
		</div>
		<div class="ui-block-b jcenter" style="padding:4px;">
			{% include[bodyhtml, errorhtml] %}
		</div>
		<div class="ui-block-c jright">
			{% include(righthtml) %}
		</div>
	</div>
{% else %}
{% include [bodyhtml, errorhtml] %}
{% endif %}
</div>
<div data-role="footer" data-position="fixed">
{% include 'foot.html' %}
</div>
</div>


<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-33252048-1']);
	_gaq.push(['_setDomainName', 'estudiantesdelinstante.net']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

</script>


</body>
</html>