
<div class="innertube">
	<div data-role="collapsible" data-theme="b" data-content-theme="d" data-collapsed="false" data-expanded-icon="libro">

		<h3>Libro: Por qué ríe la brisa</h3>
		<a href="porquerielabrisa"><img src="images/portada03.jpg" style="width:100%;height:auto;"></a>
	</div>
	<div data-role="collapsible" data-theme="b" data-content-theme="d" data-collapsed="false" data-expanded-icon="galeria">

		<h3>Galería de fotos</h3>
		<div class="minigal">
		{% for p in minigal %}
			<a
					{% if do =='gallery' %}
					href="javascript:abrirp('{{ p.id }}')"
					{% else %}
					href="gallery_{{ p.id }}"
					{% endif %}
					title="{{ p.title }}">
				<img src="{{ p.image }}" class="imgthb" />
			</a>
		{% endfor %}
			<div style="clear:both;width:100%;height:1px;"></div>
		</div>
	</div>
</div>
